{% extends 'APPL1/wrapper.html'%}

{% block Page_Title %}
  {{Device_Strings.Name}} Configurations
{% endblock%}

{% block Refresh_buttons %}
  <button type="button" class="btn btn-sm btn-outline-secondary text-nowrap"
  onClick="window.location.reload();" ><font size="4" color="red">Refresh data</font></button>
{% endblock %}


  {% block  Main_Table_Header %}
  <div class="table-responsive">
    <table class="table table-hover table-outline
     table-vcenter text-nowrap card-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Program</th>
          <th>Program Alias</th>
          <th>History</th>
          <th>Time</th>
          <th>Data</th>
        </tr>
      </thead>
  {% endblock %}

  {% block  Main_Table %}
  <tbody>
    <tr>
      <td> {{Device_Strings.Name}} </td>
      <td> {{Device_Strings.Status}} </td>
      <td align="center"> {{Device_Strings.Program}} </td>
      <td> {{Device_Strings.Program_Alias}} </td>
      <td> {{Device_Strings.History}} </td>
      <td> {{Device_Strings.Time}} </td>
      <td> {{Device_Strings.Data}} </td>
    </tr>
   </tbody>
  </table>
</div>

<div class="row">
    <div class="col-md-1 mb-3">
    </div>
</div>
<div class="row">
    <div class="col-md-1 mb-3">
    </div>
</div>

<form>
<div class="row">
    <div class="col-md-1 mb-3">
      <label for="country">Number</label>
      <select class="custom-select d-block w-10" id="Program_ID" onclick="changeColour()" required>
        <option value="">{{Device_Strings.Plan_Program}}</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>

        <script>
          function changeColour() {
            document.getElementById("Program_ID").style.color = "green";
            document.getElementById("Program_ID").style.backgroundColor = "Beige";
          }
        </script>


      </select>


      <div class="invalid-feedback">
        Please select a valid Program_ID.
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <label for="country">Planned Program Alias</label>
      <select class="custom-select d-block w-10" id="Program_Alias" onclick="changeColour_1()" required>
        <option value="">{{Device_Strings.Plan_Program_Alias}} </option>
        <option>Watering East</option>
        <option>Watering West</option>
        <option>Fertilizer</option>
        <option>Herbiciding</option>
        <option>Mist 2 ways east+west</option>
        <option>Lilies watering</option>
        <option>Watering tulips</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>

        <script>
          function changeColour_1() {
            document.getElementById("Program_Alias").style.color = "green";
            document.getElementById("Program_Alias").style.backgroundColor = "Beige";
          }
        </script>

     </select>

      <div class="invalid-feedback">
        Please select a valid Program_Alias.
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <label for="country">Repeat</label>
      <select class="custom-select d-block w-10" id="Program_Repeat" onclick="changeColour_2()" required>
        <option value="">{{Device_Strings.Repeat}}</option>
        <option>Do once</option>
        <option>Once in 2 hours</option>
        <option>Every 5 hours</option>
        <option>04</option>
        <option>05</option>

        <script>
          function changeColour_2() {
            document.getElementById("Program_Repeat").style.color = "green";
            document.getElementById("Program_Repeat").style.backgroundColor = "Beige";
          }
        </script>

      </select>

      <div class="invalid-feedback">
        Please select a valid Program_Alias.
      </div>
    </div>

    <div class="col-md-1,2 mb-3">
      <label for="zip">Planned Start Time</label>
      <input type="time" class="form-control" id="Plan_Time" onclick="changeColour_3()"
       value="{{Device_Strings.Plan_Time}}" required>
      <div class="invalid-feedback">
        Planned Start Time required.
      </div>
       <script>
         function changeColour_3() {
           document.getElementById("Plan_Time").style.color = "green";
           document.getElementById("Plan_Time").style.backgroundColor = "Beige";
        }
       </script>


    </div>

    <div class="col-md-2 mb-3">
      <label for="zip">Planned Start Date</label>
      <input type="date" class="form-control" id="Plan_Date" onclick="changeColour_4()"
       value="{{Device_Strings.Plan_Data | date:'Y-m-d'}}" required>
      <div class="invalid-feedback">
        Zip code required.
      </div>
      <script>
        function changeColour_4() {
          document.getElementById("Plan_Date").style.color = "green";
          document.getElementById("Plan_Date").style.backgroundColor = "Beige";
       }
      </script>
    </div>

    <div class="col-md-1,2 mb-3">
      <label for="zip">Planned Stop Time</label>
      <input type="time" class="form-control" id="Plan_Stop_Time" onclick="changeColour_5()" required>
      <div class="invalid-feedback">
        Zip code required.
      </div>
      <script>
        function changeColour_5() {
          document.getElementById("Plan_Stop_Time").style.color = "green";
          document.getElementById("Plan_Stop_Time").style.backgroundColor = "Beige";
       }
      </script>
    </div>

    <div class="col-md-2 mb-3">
      <label for="zip">Planned Stop Date</label>
      <input type="date" class="form-control" id="Plan_Stop_Date" onclick="changeColour_6()" required>
      <div class="invalid-feedback">
        Zip code required.
      </div>
      <script>
        function changeColour_6() {
          document.getElementById("Plan_Stop_Date").style.color = "green";
          document.getElementById("Plan_Stop_Date").style.backgroundColor = "Beige";
       }
      </script>
    </div>

  </div>

  <div class="btn-group mr-2">
      <button  class="btn btn-primary btn-lg btn-block" type="submit">Apply changes</button>
  </div>

</form>

  {% endblock %}

  {% block Apply_buttons %}

  {% endblock%}
